.login-form{
    width: 400px;
    padding: 40px;
    margin-top: 20%;
    border-radius: 5px;
    background: linear-gradient(#e66465, #9198e5);
}
.color-white{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    
}